@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

// FONTS
$fonts-barlow: 'Barlow', sans-serif;
$fonts-fraunces: 'Fraunces', serif;

// COLOURS
$primary-soft-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-dark-desaturated-cyan: hsl(167, 40%, 24%); // graphic design text
$primary-dark-blue: hsl(198, 62%, 26%); // photography text
$primary-dark-moderate-cyan: hsl(168, 34%, 41%); // footer

$neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
$neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
$neutral-dark-grayish-blue: hsl(232, 10%, 55%);
$neutral-grayish-blue: hsl(210, 4%, 67%);
$neutral-white: hsl(0, 0%, 100%);

// HELPER CLASSES

.show {display: flex!important;}